/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

#btn {
  background-color: rgb(0, 255, 72); /* Green */
  padding: 5px;
  color: rgb(255, 0, 0);
  font-size: 16px;
  cursor: pointer;
}

#character-image {
  height: 200px;
  width: 100px;
}